.button{
  border-radius: 12px;
  padding:.8rem 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 5px 5px;
}

.button--primary{
  background-color: var(--color-cyan);
  color: white;
}

.button--primary:hover{
  background-color: var(--color-cyan-hover);
}

.button--secondary{
  color: var(--color-very-dark-blue);
}

.button--copied{
  background-color: var(--color-dark-violet) !important;
  color: white !important;
}

.button--round{
  border-radius: 100px;
}

.button--stretch{
  width: 100%;
}