.hero{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
}

.hero--content{
  padding: 0 1rem;
  text-align: center;
}

.hero img{
  grid-row: 1 ;
  position: relative;
  left: 30px;
  margin-bottom: 1rem;
  z-index: -1;
  object-fit: cover;
}

.hero h1{
  font-size: 3rem;
  color: var(--color-very-dark-blue);
  line-height: 3.8rem;
  margin-bottom: 1rem;
}

.hero p{
  color: var(--color-grayish-violet);
  font-weight: 500;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 710px){
  .hero{
    grid-template-columns: 5fr 6fr;
  }

  .hero img{
    grid-column: 2;
  }

  .hero--content{
    padding: 0 2.5rem;
    text-align: left;
  }

  .hero h1{
    font-size: 3.1rem;
  }
}