.card{
  flex: 1;
  border-radius: 12px;
  text-align: center;
  background-color: white;
  min-width: 200px;
  max-width: 350px;
  position: relative;
  padding: 4.5rem .2rem 2rem .2rem;
  margin: 0 10px;
  transition: 300ms;
}

.card--image-container{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-very-dark-violet);
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.card h2{
  margin-bottom: .7rem;
  color: var( --color-very-dark-blue);
}

.card p{
  color: var(--color-grayish-violet);
}

.card:hover{
  transform: scale(1.04);
}