.shortener{
  position: relative;
  width: 100%;
  margin-top: 2rem;
}

.shortener--top{
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: white;
  z-index: -4;
}

.shortener--bottom{
  position: absolute;
  bottom: 0;
  z-index: -4;
  width: 100%;
  height: 50%;
  background-color: var(--color-gray);
}

form{
  background-image: url("../../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--color-dark-violet);

  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  border-radius: 12px;
  padding: 1rem;
}

input{
  outline: unset;
  border: unset;
}

input{
  padding: .8rem;
  margin: 5px;
  font-weight: 700;
  color: var(--color-very-dark-blue);
  border-radius: 12px;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 710px){
  .shortener{
    bottom:-45px;
  }

  form{
    background-image: url("../../images/bg-shorten-desktop.svg");
    grid-template-columns: 1fr auto;
  }

  input{
    margin-bottom: 5px;
    padding: 1rem;
  }
}

