:root{
  --color-cyan: #2acfcf;
  --color-cyan-hover: #2ac3c3;
  --color-dark-violet: #3b3054;
  --color-red: #d54949;
  --color-bg-danger: #f2dede;
  --color-gray: #bfbfbf;
  --color-grayish-violet: #9e9aa7;
  --color-very-dark-blue: #35323e;
  --color-very-dark-violet: #232127;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  max-width: 2000px;
  margin: auto;
}

a{
  text-decoration: none;
  color: var(--color-grayish-violet);
  margin: 0 10px;
}

img{
  max-width: 100%;
}

p{
  font-weight: 500;
}

ul{
  list-style-type: none;
}

ul li a{
  font-weight: 500;
}

#root{
  /* height: 100vh; */
  /* overflow-x: hidden; */
  /* scale: none; */
}